<div class="col-md-7">
  <h1>Connect with all your friends!</h1>
  <br />
  <ul>
    <li><h4>See photos and updates in your new feed</h4></li>
    <li><h4>Post your photos from your profile for the world to see</h4></li>
    <li><h4>Get in touch with your friends by "friending them"</h4></li>
    <li><h4>Like things because you're positive person</h4></li>
  </ul>
</div>
<div class="col-md-5 pull-right">
  <%= render "/shared/signup_form" %>
</div>
